@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body,
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    gap: .5em;
    background-color: #800000;

}

/* header ng chatbot */
.chatHeader{
    height: 10%;
    width: 100%;

    background-color: #FFBD59;

    display: flex;

    align-items: center;

    border-bottom: 1px solid black;

    /* cursor: pointer; */
}

#botName{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#botLogo{
    object-fit: contain;
    height: 100%;
}




/* body kung saan lumilitaw mga messages */
.chatBody{
    position: relative;


    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
}

/* eto class na inaadd ng javascript tuwing may msg and response*/
.userMSG, .botMSG{
    overflow-wrap: break-word;
    border-radius: 10px;
    max-width: 43%;
    height: max-content;
    line-height: 20px;
    padding: 0.5em;
}

/* design ng message ni user */
.userMSG{
    align-self: flex-end;
    background-color: #5f9cec;
    margin-right: 1em;
}
/* design ng message ni bot */
.botMSG{
    align-self: flex-start;
    background-color: #FFCF87;
    margin-left: 1em;
}

/* container ng input box saka send btn */
.inpt-btnContainer{
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0.2em;
}

/* design ng input box */
.inpt-btnContainer{
    position: relative;
}
#userMSG{
    background-color: #FFBD59;

    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    outline: 0;
}

/* design ng btn send */
#btnSend{
    background-color: #FFBD59;

    /* position: absolute; */
    /* right: 1.23em; */
    padding: 0.7em 1em;
    margin-right: 1em;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#btnSend:active{
    background-color: #800000;
}

@keyframes chatting {
    50%{
        bottom: 4.5em;
    }
    100%{
        bottom: 4em;
    }
    
}

#cirCon{
    visibility: hidden;
}

.circle{
    position: absolute;
    bottom: 0;
    /* background-color: black; */
    height: 60%;
    bottom: 4em;
    left: .5em;
    /* visibility: hidden; */
    z-index: -100;
}
#circle1{
    animation: chatting 500ms 500ms infinite;
    
}

#circle2{
    left: 2.25em;
    animation: chatting 500ms 600ms infinite;
    
}
#circle3{
    animation: chatting 500ms 700ms infinite;
    left: 4em;

}
